@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
	--font-sans: "Noto Sans", sans-serif;
	--font-serif: "Noto Serif", serif;
	--padding-spacing: 30px;
	--color-primary: #292a2a;
	--color-secondary: #f6f5f9;
	--color-highlight: #e7474c;
	--radius: 12px;
	--text-lg: 40px;
	--text-md: 24px;
	--text-sm: 16px;
}
